Makefile.*
*.Debug
*.Release
*.o
Release
Debug
moc_*.*
ui_*.h
qrc_*.*
*.user.*
*.user
*.bak
*.orig
c++
*.dxe
*.bin
*.doj
*.log
*.autosave
obj
bin
obj_release
build-*
*.exe
*.mp3
*.jpg
*.old
*.tmp
